{% load static %}

<table class="table table-hover">
    <tr>
        <th class='hidden custom-valign'>ID</th>
        <th class="custom-valign text-right">Name</th>
        <th class="custom-valign text-center">Price</th>
        <th class="custom-valign text-center">Price in set</th>
    </tr>
    {% for addon in addons %}
    <tr>
        <td class="hidden custom-valign text-center">{{ addon.ID_addition }}</td>
        <td class="text-right custom-valign">
            <div class="radio addons_radio">
                <label>
                    <input class="addon" type="radio" name="addonRadios" value='{{ addon.ID_addition }}'> {{ addon.addition_name }} </input>
                </label>
            </div>
        </td>
        <td class="custom-valign text-center">{{ addon.addition_price }}</td>
        <td class="custom-valign text-center">{{ addon.addition_price_in_set }}</td>
    </tr>
    {% endfor %}
</table>
