<select id="categories" name="Dish category" class="col-md-8 col-md-offset-2">
    <option selected="selected">---- Dish category ----</option>
    {% for item in data %}
        <option value='{{ item.0.ID_dish_category }}'>{{ item.0.category }} - ( {{ item.1 }} )</option>
    {% endfor %}
</select>
