{% load static %}

<table class="table table-hover">
    <tr>
        <th class='hidden'>ID</th>
        <th class="custom-valign text-right">Name</th>
        <th class="custom-valign text-center">Price</th>
        <th class="custom-valign text-center">Category</th>
        <td class="custom-valign text-center">Picture</td>
    </tr>
    {% for item in data %}
    <tr>
        <td class='hidden'>{{ item.0.ID_dish }}</td>
        <td class="text-right custom-valign">
            <div class="radio dishes_radio">
                <label>
                    <input class="dish" type="radio" name="dishRadios" value='{{ item.0.ID_dish }}'> {{ item.0.dish_name }}</input>
                </label>
            </div>
        </td>
        <td class="custom-valign text-center">{{ item.0.dish_price }}</td>
        <td class="custom-valign text-center">{{ item.0.dish_cat_ID.category }}</td>
        <td class="custom-valign text-center">
            <a href="#img{{ item.0.ID_dish }}">
            <img
                class="custom-thumbnail"
                src="{% static '' %}{{ item.1 }}">
                <!--src="{% static 'spaOne/images/dish_portfolio/fullsize/' %}{{ item.1 }}">-->
            </a>
            <a id="img{{ item.0.ID_dish }}" class="custom-lightbox" href="#_">
                <img
                    class="custom-thumbnail"
                    src="{% static '' %}{{ item.1 }}">
            </a>
        </td>

    </tr>
    {% endfor %}
</table>
