
    <form id="logout_form" role="form" action="/log_out/" method="post" class="navbar-form navbar-left">
        {% csrf_token %}
        <button id="logout_button" type="submit" class="btn btn-default">Log Out</button>
    </form>
