
    <form id="login_form" role="form" action="/log_in/" method="post" class="navbar-form navbar-right">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field }}
        </div>
        {% endfor %}
        <button id="login_button" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> Log In</button>
    </form>
