{% load static %}

<table class="table table-hover">
    <tr>
        <th class='hidden custom-valign'>ID</th>
        <th class="custom-valign text-right">Name</th>
        <th class="custom-valign text-center">Price</th>
        <th class="custom-valign text-center">Price in set</th>
    </tr>
    {% for sauce in sauces %}
    <tr>
        <td class="hidden custom-valign text-center">{{ sauce.ID_addition }}</td>
        <td class="text-right custom-valign">
            <div class="radio sauces_radio">
                <label>
                    <input class="sauce" type="radio" name="sauceRadios" value='{{ sauce.ID_addition }}'> {{ sauce.addition_name }} </input>
                </label>
            </div>
        </td>
        <td class="custom-valign text-center">{{ sauce.addition_price }}</td>
        <td class="custom-valign text-center">{{ sauce.addition_price_in_set }}</td>
    </tr>
    {% endfor %}
</table>
