{% extends 'common.html' %}
{% load static %}

{% block 'main_page_styles' %}
<link rel='stylesheet' href='{% static 'spaOne/css/user/main_page.css' %}' />
{% endblock %}

{% block 'nav' %}
<nav id='welcomeNav' class='navbar navbar-fixed-top navbar-inverse'>
	<div class='container-fluid'>
		<div class='navbar-header'>
			<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#nav_collapse'>
				<span class='sr-only'>Toggle navigation</span> Menu <i class='fa fa-bars'></i>
			</button>
			<button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#nav_collapse2'>
				<span class='sr-only'>Toggle navigation</span> Menu <i class='fa fa-bars'></i>
			</button>
			<a class='navbar-brand page-scroll' href='#page_header'>SPA</a>
		</div>

		<div class='collapse navbar-collapse navbar-right' id='nav_collapse'>
			<ul id='navbar_ul' class='nav navbar-nav'>
				<li>
					<a class='page-scroll btn' href='#about' role='button'>About</a>
				</li>
				<li>
					<a class='page-scroll btn' href='#portfolio' role='button'>Portfolio</a>
				</li>
				<li>
					<a class='page-scroll btn' href='#key_features' role='button'>Key Features</a>
				</li>
				<li>
					<a class='page-scroll btn' href='#contact' role='button'>Contact</a>
				</li>
				{% if not user.is_authenticated %}
				<li>
					<a class='btn' href='/spa/' role='button'>Log In</a>
				</li>
				{% else %}
				<li>
				    <a class='page-scroll btn' href='#orders' role='button'>Orders</a>
				</li>
				<li>
					<a class='btn' href='#' role='button'>Logged as: {{ request.user.username }}</a>
				</li>
				<li>
					<form id='logout_form' role='form' action='/spa/log_out/' method='post' class='navbar-form navbar-left'>
						{% csrf_token %}
						<button id='logout_button' type='submit' class='btn btn-default'>Log Out</button>
					</form>
				</li>
				{% endif %}
			</ul>
		</div>

		<div id="order_dynamic" class="col-md-4">
			<div class='collapse navbar-collapse navbar-left' id='nav_collapse2'>
				<form class="navbar-form navbar-left" role="form">
					<div class="input-group custom-no-spins col-md-5">
						<span class="input-group-addon">To pay</span>
						<input id="order_value" type="number" class="form-control custom-fixed-w text-right" name="to_pay" step="0.01" placeholder="0.00" readonly >
						<span class="input-group-addon">PLN</span>
					</div>
					<!--<div id="order_text" class="input-group custom-no-spins col-md-5">-->
						<!--<textarea class="form-control custom-fixed-w text-right" rows="1" cols="50" id="comment" readonly placeholder="No dish chosen" name="order_text_area"></textarea>-->
					<!--</div>-->
				</form>
			</div>
		</div>
	</div>
</nav>
{% endblock %}

{% block 'header' %}
<header id="page_header">
	<div class='header-content'>
		<div class='header-content-inner'>
			<h1 id='homeHeading'>Best way to order your chinese !</h1>
			<hr>
			<p>Order your favorite chinese with kinesisk order tool (KOT) without bothering me!! from your own desktop. Multiple strings attached!</p>
			<a href='#about' class='btn btn-primary btn-xl page-scroll'>Proceed to order</a>
		</div>
	</div>
</header>
{% endblock %}

{% block 'about' %}
<section class='bg-primary' id='about'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-8 col-lg-offset-2 text-center'>
				<h2 class='section-heading'>We have pidgeons in homeless coating!</h2>
				<hr class='light'>
				<a href='#portfolio' class='page-scroll btn btn-default btn-xl sr-button'>Proceed to order</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block 'portfolio' %}
<section class='no-padding' id='portfolio'>
	<div class='container-fluid'>
		<div class='row no-gutter popup-gallery'>
			<div class='col-lg-4 col-sm-6'>
				<a href='{% static 'spaOne/images/dish_portfolio/fullsize/cielecina_na_ostro_po_malajsku_w_panierce.jpg' %}' class='portfolio-box'>
					<img src='{% static 'spaOne/images/dish_portfolio/thumbnails/cielecina_na_ostro_po_malajsku_w_panierce.jpg' %}' class='img-responsive' alt=''>
					<div class='portfolio-box-caption'>
						<div class='portfolio-box-caption-content'>
							<div class='project-category text-faded'>
								Cielecina
							</div>
							<div class='project-name'>
								Na ostro po malajsku w panierce
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class='col-lg-4 col-sm-6'>
				<a href='{% static 'spaOne/images/dish_portfolio/fullsize/kuczak_na_chrupko_cimciacho.jpg' %}' class='portfolio-box'>
					<img src='{% static 'spaOne/images/dish_portfolio/thumbnails/kuczak_na_chrupko_cimciacho.jpg' %}' class='img-responsive' alt=''>
					<div class='portfolio-box-caption'>
						<div class='portfolio-box-caption-content'>
							<div class='project-category text-faded'>
								Kurczak
							</div>
							<div class='project-name'>
								CimCiaCho
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class='col-lg-4 col-sm-6'>
				<a href='{% static 'spaOne/images/dish_portfolio/fullsize/kuczak_po_indyjsku.jpg' %}' class='portfolio-box'>
					<img src='{% static 'spaOne/images/dish_portfolio/thumbnails/kuczak_po_indyjsku.jpg' %}' class='img-responsive' alt=''>
					<div class='portfolio-box-caption'>
						<div class='portfolio-box-caption-content'>
							<div class='project-category text-faded'>
								Kurczak
							</div>
							<div class='project-name'>
								Po indyjsku
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class='col-lg-4 col-sm-6'>
				<a href='{% static 'spaOne/images/dish_portfolio/fullsize/kuczak_w_sosie_grzybowym.jpg' %}' class='portfolio-box'>
					<img src='{% static 'spaOne/images/dish_portfolio/thumbnails/kuczak_w_sosie_grzybowym.jpg' %}' class='img-responsive' alt=''>
					<div class='portfolio-box-caption'>
						<div class='portfolio-box-caption-content'>
							<div class='project-category text-faded'>
								Kurczak
							</div>
							<div class='project-name'>
								W sosie grzybowym
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class='col-lg-4 col-sm-6'>
				<a href='{% static 'spaOne/images/dish_portfolio/fullsize/wieprzek_w_sezamie.jpg' %}' class='portfolio-box'>
					<img src='{% static 'spaOne/images/dish_portfolio/thumbnails/wieprzek_w_sezamie.jpg' %}' class='img-responsive' alt=''>
					<div class='portfolio-box-caption'>
						<div class='portfolio-box-caption-content'>
							<div class='project-category text-faded'>
								Wieprzowina
							</div>
							<div class='project-name'>
								W sezamie
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class='col-lg-4 col-sm-6'>
				<a href='{% static 'spaOne/images/dish_portfolio/fullsize/wolowina_z_grilla_na_ostro.jpg' %}' class='portfolio-box'>
					<img src='{% static 'spaOne/images/dish_portfolio/thumbnails/wolowina_z_grilla_na_ostro.jpg' %}' class='img-responsive' alt=''>
					<div class='portfolio-box-caption'>
						<div class='portfolio-box-caption-content'>
							<div class='project-category text-faded'>
								Wolowina
							</div>
							<div class='project-name'>
								Z grilla na ostro
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class='container text-center'>
		<hr>
		<a href='#key_features' class='btn btn-primary btn-xl page-scroll'>Proceed to order</a>
	</div>
</section>
{% endblock %}

{% block 'key_features' %}
<section id='key_features'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-12 text-center'>
				<h2 class='section-heading'>(NOT!)At Your Service</h2>
				<hr class='primary'>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-3 col-md-6 text-center'>
				<div class='service-box'>
					<i class='fa fa-4x fa-diamond text-primary sr-icons'></i>
					<h3>Easy ordering</h3>
					<p class='text-muted'>You just have to click few times, everything I do alone without help!</p>
				</div>
			</div>
			<div class='col-lg-3 col-md-6 text-center'>
				<div class='service-box'>
					<i class='fa fa-4x fa-paper-plane text-primary sr-icons'></i>
					<h3>Delivery</h3>
					<p class='text-muted'>I always carry everything upstairs!</p>
				</div>
			</div>
			<div class='col-lg-3 col-md-6 text-center'>
				<div class='service-box'>
					<i class='fa fa-4x fa-newspaper-o text-primary sr-icons'></i>
					<h3>Up to Date</h3>
					<p class='text-muted'>Frequent database updates to provide latest info!</p>
				</div>
			</div>
			<div class='col-lg-3 col-md-6 text-center'>
				<div class='service-box'>
					<i class='fa fa-4x fa-heart text-primary sr-icons'></i>
					<h3>Made from HOMELESS</h3>
					<p class='text-muted'>Homeless problem solved in making!</p>
				</div>
			</div>
		</div>
	</div>
	<div class='container text-center'>
		<hr>
		<a href='#orders' class='btn btn-primary btn-xl page-scroll'>Proceed to order</a>
	</div>
</section>
{% endblock %}

{% block 'main_page_content' %}
	{% if user.is_authenticated %}
		<section id='orders'>
			<div class='container'>
				<div class='row'>
					<div id='category_choosing' class='col-lg-8 col-lg-offset-2 text-center'></div>
				</div>
			</div>
		</section>

		<section id='dishes'>
			<div class='container'>
				<div class='row'>
					<div id="dishes_table" class="col-lg-6"></div>
					<div id="addons_table" class="col-lg-3"></div>
					<div id="sauces_table" class="col-lg-3"></div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<form id='order_form' action='' role='form' method='post'>
							{% csrf_token %}
							<div class="btn-group btn-group-justified" role="group">
								<div class="btn-group" role="group">
									<button id="order_button" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> Order</button>
								</div>
								<div class="btn-group" role="group">
									<button id="clear_button" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Clear</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

		<div class="summary col-md-4">
			<div id="order_text">
				<input type="text" class="form-control text-right" readonly placeholder="No dish chosen" name="order_text"></input>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block 'contact' %}
<section id='contact'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-8 col-lg-offset-2 text-center'>
				<h2 class='section-heading'>Let's (NOT) Get In Touch!</h2>
				<hr class='primary'>
				<p>If you'd like to leave a comment... don't, I couldn't care less!</p>
			</div>
			<div class='col-lg-4 col-lg-offset-2 text-center'>
				<i class='fa fa-phone fa-3x sr-contact'></i>
				<p>666-666-666 Satan awaits!</p>
			</div>
			<div class='col-lg-4 text-center'>
				<i class='fa fa-envelope-o fa-3x sr-contact'></i>
				<p><a href='mailto:kdToolsMailing@gmail.com'>kdToolsMailing@gmail.com</a></p>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block 'main_page_scripts' %}
	{% if user.is_authenticated %}
		<script src='{% static 'spaOne/js/user/main_page.js' %}'></script>
	{% endif %}
{% endblock %}
