{% extends 'common.html' %}
{% load static %}

{% block 'login_page_styles' %}
<link rel="stylesheet" href="{% static 'spaOne/css/user/login_page.css' %}" />
{% endblock %}

{% block 'login_page_content' %}
{% if not user.is_authenticated %}
<div class="row">
    {% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>

<div class="container">
    <ul class="nav nav-tabs nav-stacked col-md-4 no-borders">
        <li class="active"><a data-toggle="tab" href="#login">Log In</a></li>
        <li><a data-toggle="tab" href="#create">Create Account</a></li>
    </ul>

    <div class="tab-content col-md-5 col-md-offset-1">
        <div id="login" class="tab-pane fade in active">
            <h3>Log In</h3>
            <form id="login_form" role="form" action="log_in/" method="post" >
                <!-- class="navbar-form navbar-right" -->
                {% csrf_token %}
                {% for field in form_login %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}

                <div class="btn-group btn-group-full-width">
                    <button id="login_button" type="submit" class="btn btn-default btn-full-width"><span class="glyphicon glyphicon-log-in"></span> Log In</button>
                </div>
            </form>
        </div>
        <div id="create" class="tab-pane fade">
            <h3>Create Account</h3>
            <form id="create_form" role="form" action="create_account/" method="post" >
                <!-- class="navbar-form navbar-right" -->
                {% csrf_token %}
                {% for field in form_create %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}

                <div class="btn-group btn-group-full-width">
                    <button id="create_button" type="submit" class="btn btn-default btn-full-width"><span class="glyphicon glyphicon-log-in"></span> Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% else %}
<div class="container">
    <div class="col-md-2 col-md-offset-5">
        <label>Already logged in as {{ user.username }}</label>
        <a class='page-scroll btn custom-white-text' href='home/' role='button'>Proceed to main page</a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block 'login_page_scripts' %}
{% if not user.is_authenticated %}
<script src="{% static 'spaOne/js/user/login_page.js' %}"></script>
{% endif %}
{% endblock %}
