{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="tryouts">
    <meta name="author" content="kduchno">

    <title>Django kduchno p1</title>

    <link rel="icon" type="image/gif" href="{% static 'spaOne/images/favicon.gif' %}" />

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="{% static 'spaOne/css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'spaOne/css/font-awesome/font-awesome.min.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'spaOne/css/magnific-popup/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'spaOne/css/creative/creative.min.css' %}" />


    {% block 'main_page_styles' %} {% endblock %}
    {% block 'login_page_styles' %} {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top">
    {% block 'nav' %} {% endblock %}
    {% block 'login_page_content' %} {% endblock %}
    {% block 'header' %} {% endblock %}
    {% block 'about' %} {% endblock %}
    {% block 'portfolio' %} {% endblock %}
    {% block 'key_features' %} {% endblock %}
    {% block 'main_page_content' %} {% endblock %}
    {% block 'contact' %} {% endblock %}

    <!-- change all to be taken from static -->
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script src="{% static 'spaOne/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'spaOne/js/scrollreveal/scrollreveal.min.js' %}"></script>
	<script src="{% static 'spaOne/js/magnific-popup/magnific-popup.min.js' %}"></script>
	<script src="{% static 'spaOne/js/creative/creative.min.js' %}"></script>

    {% block 'login_page_scripts' %} {% endblock %}
    {% block 'main_page_scripts' %} {% endblock %}
</body>
</html>
