body {
    background-image: url('../../images/dish_portfolio/fullsize/kuczak_po_indyjsku.jpg');
    color: white;
    background-size: cover;
}

.no-borders {
    border-bottom: 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-group-full-width {
    width: 100%;
}

.btn-full-width {
    width: 100%;
}

.btn-wide {
    width: 45%;
}

.custom-white-text {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}
