body {
    padding-top: 50px;
}

#categories, #categories > option {
    text-align: center;
    text-align-last: center;
}

.custom-thumbnail {
	max-width: 60px;
}

.custom-valign {
	vertical-align: middle!important;
}

#order_text, #order_text textarea, #order_text input {
    max-height: 34px;
    word-wrap: break-word !important;
    font-size: xx-small !important;
}

.custom-lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.custom-lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
 	margin-top: 5%;
}

.custom-lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

.custom-no-bottom-margin
{
    margin-bottom: 0px!important;
}

#dishes, #orders {
    padding-top: 20px;
}

#orders {
    padding-bottom: 20px;
}

.summary {
    top: 0;
    padding-top: 50px;
    padding-left: 0;
}

.custom-fixed-w {
    min-width: 70px;
}

.custom-no-spins input[type=number] {
	-moz-appearance: textfield;
}

.custom-no-spins input[type=number]::-webkit-inner-spin-button,
.custom-no-spins input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#contact {
    padding-top: 25px;
}